---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="sr-only">
      Hi, I'm Kesava Krishna Reddy Mettu, a software developer with over 5 years 
      of experience designing and developing custom enterprise applications, eCommerce 
      platforms, and interactive dashboards. I specialize in creating impactful user 
      experiences, animations, and micro-interactions.
      Beyond work, I'm passionate about animation, 3D modeling, and collecting vintage 
      passports as pieces of history. I always aim to choose the best tools for the job, 
      regardless of my usual preferences. My goal is to provide efficient and effective 
      solutions for every project.
    </p>
    <div aria-hidden="true" class="text-sm font-light">
      <p class="text-sm font-light">
        Hi, I'm Kesava Krishna Reddy Mettu, a software developer dedicated to 
        building impactful and seamless digital solutions.
       </p>
      <br />
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>React</li>
        <li>TypeScript</li>
        <li>Astro</li>
        <li>Java</li>
        <li>Nodejs</li>
        <li>Tableau</li>
        <li>Power BI</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond work, I'm passionate about data visualization and 
      continually exploring new tools and techniques to interpret 
      and present data effectively. I also enjoy reading articles 
      and staying updated on emerging trends in technology and data analytics.
    </p>
    <p class="text-sm font-light">
      While I have my favorite tools, I believe in picking the perfect one for the job—even if it’s a new challenge. For me, 
      it’s all about discovering the smartest solution for every project.
    </p>
  </div>
</Card>
